<div class="container">
	<div class="panel panel-default">	
		<div class="panel-body">
			<h1>All about the party</h1>

			<p>This page is under construction. For more information about the party, please call Jessie at 404-394-5121</p>
		</div>
	</div>
</div>