<div class="container center">
	<div class="panel panel-default">	
		<div class="panel-body">
			<h1>All about the party</h1>
			<br />
			<span>
				Please help us celebrate Emilie's 2nd birthday on Saturday, April 18th. 
			<br />
				There will be food, fun, and even A BOUNCY HOUSE!
			</span>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Location</h3>
				</div>
				<div class="panel-body">
					<div id="map-canvas"></div>
				</div>
			</div>
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-7 about-box">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">About Emilie</h3>
				</div>
				<div class="panel-body">
					Emilie's info goes here
				</div>
			</div>
		</div>
	</div>
</div>