<div class="container">
	<div class="jumbotron">
	  <h1>Emilie Turns 2!!</h1>
	  <br />
	  <p><a class="btn btn-primary btn-lg rsvp-btn" href="#" role="button">RSVP Here</a></p>
	</div>
</div>

<div class="container minnie">
	<%= image_tag 'minnie.png', class: 'minnie-img' %>
</div>