<div class="container rsvp-index">	
	<h1 class="center">Editing RSVP</h1>

	<%= render 'form' %>

	<div class="cancel-btn">
		<%= link_to 'Show', @rsvp %> |
		<%= link_to 'Back', rsvps_path %>
	</div>
</div>